@media  screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}


@media  screen and (max-width: 480px){
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 ;
    }

    .row{
        display: inline-block;
    }

    .lesson .col,
    .steps .col,
    .why-us, .col-lef,
    .why-us, .col-right
    {
        width: 100%;
        margin-bottom: 50px;
    }
}